
@{
    Layout = null;
}

<h3>Yetenekler</h3>
<h4>Bildiğim Diller: C#-SQL-ASP.NET CORE-C</h4>
<h4>Kullandığım Teknolojiler: MicroServis- N tier- Onion - Dapper - Docker</h4>
<h5>Araçlar: Visual Studio - Vs Code - MsSql -Github - Postman</h5>

<a href="/Default/Index">Index Sayfası</a>