@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <label>Kategori ID</label>
    @Html.DropDownListFor(x=>x.CategoryID, (List<SelectListItem>)ViewBag.v, new {@class = "form-control"})
    <br />
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="ProductName"/>
    <br/>
    <label>Ürün Fiyat</label>
    <input type="text" class="form-control" asp-for="Price"/>
    <br/>
    <label>Ürün Görsel</label>
    <input type="text" class="form-control" asp-for="Image"/>
    <br/>
    <label>Ürün Açıklama</label>
    <textarea asp-for="Description" rows="5" class="form-control"></textarea>
    <br/>
    <button class="btn btn-info">Ürün Ekle</button>
</form>