@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Fiyat</th>
        <th>Ürün Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price ₺</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Product/ProductDetails/@item.ProductID" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct/" class="btn btn-info">Yeni Ürün Girişi</a>