@model List<RapidApiBookingViewModel.Result>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Otel Adı</th>
            <th>Otel Şehir</th>
            <th>Otel Puan</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.hotel_name</td>
                <td>@item.city_name_en</td>
                <td>@item.review_score_word</td>
            </tr>
        }
    </table>
</div>