@model AkademiApi.ConsumeLayer.Models.CustomerViewModels.UpdateCustomerViewModel
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <input type="hidden" class="form-control" asp-for="CustomerID" /><br />
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" asp-for="CustomerName"/><br/>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" asp-for="CustomerSurname"/><br/>
        <label>Müşteri İlçesi</label>
        <input type="text" class="form-control" asp-for="CustomerDistrict"/><br/>
        <label>Müşteri Şehri</label>
        <input type="text" class="form-control" asp-for="CustomerCity"/><br/>
        <label>Müşteri Hesap Numarası</label>
        <input type="text" class="form-control" asp-for="AccountNumber"/><br/>
        <button class="btn btn-primary">Güncelle</button>
    </form>
</div>