
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transpolar - Autos & Transportation Category Bootstrap Responsive Template | About :: W3layouts </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <i class="fas fa-truck-moving"></i> Transpolar
                    </a>
                </h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/MainPage/Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About/Index/">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Services/Index/">Hizmetler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contact/Index/">İletişim</a>
                        </li>
                    </ul>
                    <!--/search-->
                    <button id="trigger-overlay" class="searchw3-icon mx-xl-4 mx-lg-3" type="button"><i class="fas fa-search"></i></button>
                    <!-- open/close -->
                    <div class="overlay overlay-slidedown">
                        <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                        <nav class="w3l-formhny">
                            <h5 class="mb-3">Arama Paneli</h5>
                            <form action="#" method="GET" class="d-sm-flex search-header">
                                <input class="form-control me-2" type="search" placeholder="Aranacak Kelimeyi Giriniz..." aria-label="Search" required>
                                <button class="btn btn-style btn-primary" type="submit">Ara</button>
                            </form>
                        </nav>
                    </div>
                    <!--//search-->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            Hizmetler
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/MainPage/Index">Ana Sayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Hizmetler </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->
    <section class="w3l-index-about py-5" id="about2">
        <div class="container py-md-5 py-2">
            <div class="row">
                <div class="col-lg-6 pe-lg-5">
                    <div class="w3l-abouthny-img">
                        <img src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/images/ab.jpg" alt="" class="img-fluid radius-image">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="w3l-abouthny-info">
                        <h6 class="title-subw3hny">Ne Yapıyoruz</h6>
                        <h3 class="title-w3l">
                            Müşteri Memnuniyeti Esas Alınarak Çalışmalarımızı Büyük Bir Titizlik İle Yönetmekteyiz.
                        </h3>
                        <p class="mt-4">Eşyalarınızı bizlere güvenle teslim edebilirsiniz.Müşteri memnuniyeti esas alınara tüm dünyaya hizmet vermekteyiz.</p>
                        <ul class="w3l-right-book w3l-right-book-grid mt-md-5 mt-4">
                            <li><span class="fas fa-check"></span> Şeffaf Fiyatlama</li>
                            <li><span class="fas fa-check"></span> Gerçek Zamanlı İzleme</li>
                            <li><span class="fas fa-check"></span> Depo Güvenliği</li>
                            <li><span class="fas fa-check"></span> Kargo Güvenliği</li>
                            <li><span class="fas fa-check"></span> 24/7 Hizmet</li>
                            <li><span class="fas fa-check"></span> Hızlı Teslimat</li>
                        </ul>
                        <a href="#services" class="btn btn-style btn-primary mt-4">Daha Fazla Bilgi Edinin</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-index3-->
    <!--/features-section-->
    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">Servislerimiz</h6>
                <h3 class="title-w3l">Ne Teklif Ediyoruz</h3>
            </div>
            <div class="main-cont-wthree-2">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-user-clock"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Gerçek Zamanlı Takip</a></h4>
                            <p class="text-para">Kargolarınızın konumunu canlı takip edebilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-warehouse"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Depo Güvenliği</a></h4>
                            <p class="text-para">Eşyalarınızın depomuzdaki güvenlik sorumluluğu bizlere aittir. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-truck-loading"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Kargo Güvenliği</a></h4>
                            <p class="text-para">Kargolarınızı güvenle taşımaktayız. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-shield-alt"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Güvenli Ödeme</a></h4>
                            <p class="text-para">Ödemelerinizi güvenle yapabilirsiniz. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-truck"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Hızlı Teslimat</a></h4>
                            <p class="text-para">Eşyalarınızı en hızlı şekilde belirttiğiniz konuma taşımaktayız. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-headset"></i>
                            </div>
                            <h4><a href="#service" class="title-head">24/7 Hizmet</a></h4>
                            <p class="text-para">Bizlere istediğiniz gün ve saatte ulaşabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//features-section -->
    <!--/servicess-2-->
    <section class="locations-1 w3services-3">
        <div class="locations py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="heading text-center mx-auto">
                    <h6 class="title-subw3hny mb-1">Ne Yapıyoruz</h6>
                    <h3 class="title-w3l mb-3">Öne Çıkan Hizmetlerimiz</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/images/g3.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-road"></i>
                                        <h3 class="title">Kara Yolu Taşımacılığı</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/images/g6.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-helicopter"></i>
                                        <h3 class="title">Hava Yolu Taşımacılığı</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">

                                    <img class="img-fluid" src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/images/g1.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-ship"></i>
                                        <h3 class="title">Lojistik Servis</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/images/g5.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-water"></i>
                                        <h3 class="title">Kurye Taşımacılğı</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--/servicess-2-->
    <!--/footer-9-->
    <footer class="w3l-footer9">
        <section class="footer-inner-main py-5">
            <div class="container py-md-4">
                <div class="right-side">
                    <div class="row footer-hny-grids sub-columns">
                        <div class="col-lg-4 sub-one-left pe-lg-5">
                            <h2>
                                <a class="navbar-brand" href="index.html">
                                    <i class="fas fa-truck-moving"></i> Transpolar
                                </a>
                            </h2>
                            <p class="footer-phny mt-3">Sosyal Medyada Biz...</p>
                            <div class="columns-2 mt-4 pt-lg-2">
                                <ul class="social">
                                    <li>
                                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                    <li>
                                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-8 sub-two-right">
                            <div class="row">
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Biz Kimiz</h6>
                                    <ul>
                                        <li>
                                            <a href="/Admin/Index/">Hakkımızda</a>
                                        </li>
                                        <li>
                                            <a href="about.html"> Ekibimiz</a>
                                        </li>
                                        <li>
                                            <a href="#news">Haber & Medya</a>
                                        </li>
                                        <li>
                                            <a href="#case"> Çalışmalarımız</a>
                                        </li>
                                        <li>
                                            <a href="contact.html"> Bize Katıl</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Ne Yapıyoruz</h6>
                                    <ul>
                                        <li>
                                            <a href="#warehousing"> Depolama</a>
                                        </li>
                                        <li>
                                            <a href="#air">Hava Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#ocean">Deniz Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#road">Kara Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#supply">Demir Yolu Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#packaging">Kurye Dağıtımı</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Şirket</h6>
                                    <ul>
                                        <li>
                                            <a href="#request">Taşımacılık Talep Et</a>
                                        </li>
                                        <li>
                                            <a href="#track">Takip & İzlenme</a>
                                        </li>
                                        <li>
                                            <a href="#job"> İş Uygulaması</a>
                                        </li>
                                        <li>
                                            <a href="#posts">Haberler</a>
                                        </li>
                                        <li>
                                            <a href="#support"> Destek 24/7</a>
                                        </li>
                                        <li>
                                            <a href="#story"> Kullanıcı Yorumları</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Daha Fazla Bilgi</h6>
                                    <ul>
                                        <li>
                                            <a href="#planing"> Planlama</a>
                                        </li>
                                        <li>
                                            <a href="#processing">Uzman İpuçları</a>
                                        </li>
                                        <li>
                                            <a href="#research">İpuçları & Stratejiler</a>
                                        </li>
                                        <li>
                                            <a href="#metal"> Kolay Ödeme</a>
                                        </li>
                                        <li>
                                            <a href="#delivery"> Hızlı Teslimat</a>
                                        </li>
                                        <li>
                                            <a href="#faq"> SSS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="below-section mt-lg-5 pt-lg-4">
                    <div class="copyright-footer">
                        <p class="copyright-column">
                            © 2022 Transpolar.All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                                W3Layouts
                            </a>
                        </p>

                        <ul class="footer-w3list text-right">
                            <li>
                                <a href="#url">Gizlilik Politikası</a>
                            </li>
                            <li>
                                <a href="#url">Şartlar &amp; Koşullar</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
    </footer>
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/theme-change.js"></script>
    <!--/search-->
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/modernizr.custom.js"></script>
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/classie.js"></script>
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/demo1.js"></script>
    <!--//search-->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });
        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="/Templates/transpolar-starter_Free06-03-2022_487199155/Transpolar-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>
