@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts
{
    <script>
    $(document).ready(()=>{
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000,2000,3000,6000]).withUrl("https://localhost:44360/MyHub").build();
            function statusshow(){
                $("#conStatus").text(connection.connectionState);
            } 
            statusshow();
            
            connection.start().then(()=>{
                statusshow();
            });
            $("#btnSave").click(()=>{
                connection.invoke("sendName",$("#txtName").val());
            });
            connection.on("receiveName",(name)=>{
                console.log(name);
            });
            connection.on("receiveClientCount",(clientCount)=>{
                $("#clientCount").text(clientCount);
            })
    });
    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" class="form-control" id="txtName"/>
        <hr/>
        <button class="btn btn-warning" id="btnSave">Kaydet</button>
        <button class="btn btn-primary" id="btnRoomName">Odaya Kişi Ekle</button>
        <div class="alert alert-info mt-2">
            <div>
                Bağlantı Durumu: <strong id="conStatus"></strong>
                Client Sayısı: <strong id="clientCount"></strong>
            </div>
        </div>
    </div>
</div>