@model Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" class="form-control" asp-for="CustomerID" />
    <label>Müşteri Ad</label>
    <input type="text" class="form-control" asp-for="CustomerName" />
    <br />
    <label>Müşteri Soyad</label>
    <input type="text" class="form-control" asp-for="CustomerSurname" />
    <br />
    <label>Müşteri Şehir</label>
    <input type="text" class="form-control" asp-for="CustomerCity" />
    <br />
    <label>Müşteri Mail</label>
    <input type="text" class="form-control" asp-for="CustomerEmail" />
    <br />
    <label>Müşteri Bonus</label>
    <input type="text" class="form-control" asp-for="CustomerBonus" />
    <br />
    <label>Müşteri Sorumlu Personel</label>
    <input type="text" class="form-control" asp-for="EmployeeID" />
    <br />

    <button class="btn btn-success">Müşteri Güncelle</button>
</form>