@model Akademi_Transportation.Models.TblEmployee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Personel Kaydı</h2>

<form method="post">
    <label>Personel Adı</label>
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    <label>Personel Soyadı</label>
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
    <br />
    <label>Personel Görsel URL</label>
    @Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control" })
    <br />
    <label>Personel Açıklaması</label>
    @Html.TextAreaFor(x => x.EmployeeDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Personel Ekle</button>
</form>

